@charset "ISO-8859-1";


body
{
	background-image: url('rail.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

#can
  {
      position: absolute;
	  width: 150px;
	  height:40px;
	  padding: 7px;
	  color: white;
	  background:black;
	  alignment:center;
	  font-size: 20px;
	  font-family: engravers mt;
	  font-style: bold;
	  font-weight: 600;
	  border:none;
	  border-radius: 3px;
	  outline:0;
	  top:80%;
	  left:45%;
  }