@charset "ISO-8859-1";


body
{
	background-image: url('rail.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment:fixed;
}
.title
{
    position: absolute;
	font-color: yewllow;
    font-family: algerian;
	text-align: left;
	font-size: 20;
	margin-left: 100px;
	top: 15%;
    left: 95%;
    transform: translate(-50%,-50%);
}
.btn
{
	font-size: 20px;
	font-family: engravers mt;
	color: white;
	margin: 200px;
	margin-left: -500px;
		
	padding: 7px 22px;
	text-decoration: none;
	border: 5px solid cyan;
	border-radius: 25px;
}
.btn-log
{
	float:top;
	background: black;
	margin-top: 10px;
	margin-left: -150px;
	margin-bottom: 190px;
	align:center;
}
